/* css for homepage containing all cards */
.filter-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type='text'] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.character-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.grid-item {
    padding: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.single-card {
    display: flex;
    flex-direction: column;
    /* max-width: 300px; */
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
    letter-spacing: .2rem;
}

.card-subtitle {
    margin-bottom: 0.75rem;
}

.card-text {
    margin-bottom: 0.75rem;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

@media (max-width:462) {
    .filer-container {
        display: flex;
    }
}